/* .head {
    cursor: pointer;
}

.head .logo {
    width: 500px;
} */
.navBar{
    padding: 0;
}
header {
    background-color: black;
    color: #fff;
    width: 100vw;
}

header li {
    display: flex;
    justify-content: space-around;
    /* margin-right: 20px; */
    transition: 0.5s;
}

header li a {
    color: white;
    transition: 0.5s;
}

header li a:hover {
    color: yellowgreen;
    cursor: pointer;
}

.barIcon {
    font-size: 25px;
    background: none;
    color: white;
    display: none;
    border: none;
}

.container {
    background-color: black;
    padding: 20px 0;
  }
  .paddingsmall {
    padding: 20px 0;
  }

  .flex {
    display: flex;
    justify-content: space-around;
  }
@media screen and (max-width:760px) {
    .navBar {
        width: 100vw;
        padding: 0;
    }
    header{
        width: 90vw;
    }
    .head .heading {
        display: none;
    }
    header .icon{
        display: none;
    }
    header .flex{
        display: none;
    }
    .barIcon{
        display: block;
    }
    header .navbar{
        position: absolute;
        display: block;
        background-color: #fb4c35;
        left: 0;
        top: 180px !important;
        width: 100%;
        height: 45vh;
        z-index: 5;
      padding: 5px;
      margin: 0;
       
    }
    header .navbar {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
      }
      header ul li {
        margin-bottom: 20px;
      }
     
      
}